#stat-view {
  margin: 0px 50px;
  min-height:500px;
  max-height: 80%;
}
.title-banner {
  font-size: 30px;
}
.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
