@import "sunburst.less";
@import "scatterPlot.less";

#stat-view {
  height: ~"calc(100% - @{bannerHeight})";
  box-sizing: border-box;
  // width: 100%;
  // height: 100%;
  display: block;
  padding-left: 29px;
}
.title-banner {
  font-size: 30px;
  padding-left: 75px;
  height: @bannerHeight;
  line-height: @bannerHeight;
}
.chart {
  display: inline-block;
  position: relative;
  clear: both;
  padding: 0px 50px;
  svg {
    display: block;
    margin: auto;
  }
}
