.chart.scatter-plot {

  // max-width: 1000px;
  // max-height: 800px;
  // min-height: 400px;
  // width: 100%;
  vertical-align: top;

}
.domain {
  stroke: #000;
}
.axis text {
  font: 10px sans-serif;
}
g.tick {
  > text {
    font-size: 150%;
  }
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
text.label {
   fill: @black;
   font-size:15px;
}
.circleH {
    &:hover {
      cursor: pointer;
      fill: #3380FF !important;
    }
}

.d3-tip {
  line-height: 1;
  padding: 0px;
  margin: 0px;
  background: #FFFFFF;
  color: rgba(1,1,1,1);
  // border-radius: 4px;
.BoxShadowHelper(3);
  border: 1px solid @black;
  span {
    display: block;
    text-align: center;
    margin-bottom: 8px;
  }
}
body.hide-tooltip {
  .d3-tip { display: none;}
}
text, path {
  .no-select;
}
span.player-name {
  font-size: 120%;
  background-color: rgba(255, 118, 0, 0.32);

  padding: 8px 4px;
  text-align: center;
}
