<div class="options-container">
  <div class='options-icon'></div>
  <div class="dropdown">
    <div class="dropbtn">Choose stats</div>
    <div class="dropdown-content style-1-scrollbar">
      <% _.each(statList, function(team,i){  %>
          <a class="stat-list main-stat" href="#"><%= i %></a>
       <% }); %>
    </div>
  </div>
  <div class="dropdown">
    <div class="dropbtn">Top 50</div>
    <div class="dropdown-content style-1-scrollbar">
      <% _.each([25,50,75,100,150,200], function(val,i){  %>
          <a class="stat-list playerNum" href="#"><%= val %></a>
       <% }); %>
    </div>
  </div>
</div>
