<div class='sunburst-player-info-container'>
  <span class="player-name"><%= playerName %></span>
  <div class="sunburst-stat-container">
    <span class=""><span class="stat-label">Age:</span><%= age %></span>
    <span class=""><span class="stat-label">Points:</span><%= pts %></span>
    <span class=""><span class="stat-label">Rebounds:</span><%= reb %></span>
    <span class=""><span class="stat-label">Assists:</span><%= ast %></span>
    <span class=""><span class="stat-label">Minutes:</span><%= min %></span>
    <span class=""><span class="stat-label">Plus Minus:</span><%= plusMinus %></span>
  </div>
</div>
